<settings>
  <proxies>
    <proxy>
      <id>lmco-https</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy-zsgov.external.lmco.com</host>
      <port>80</port>
      <nonProxyHosts>*.lmco.com|localhost|127.0.0.1|.amazonaws.com</nonProxyHosts>
    </proxy>
    <proxy>
      <id>lmco-http</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy-zsgov.external.lmco.com</host>
      <port>80</port>
      <nonProxyHosts>*.lmco.com|localhost|127.0.0.1|.amazonaws.com</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
